
.card{

    max-width: 80%;
    margin: 3em auto;
    background-color: #F7F8ED;
   
    

}

.grid
{
    display: grid;
    grid-template-columns: 40% 60%;
}

.donimg img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display:block;
}

.card-body{
    padding: 0;
    margin: 0;
}