.back{
    border: 1px solid black;
    border-radius: 50px;
    max-width: 80%;
    margin: 2em auto;
    padding: 1em;
    background-color: #F7F8ED;
}

.back img{
    border-radius: 50% !important ;
    height: 150px !important;
    width: 150px !important;
    display: block !important;
    margin: 0 auto !important;

   
}

form{
    padding:2em;
}

